ul {
    list-style: none;

}

a {
    text-decoration: none;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
    border: none;
}

address {
    font-style: normal;
}
